@font-face {
   font-family: CL;
   src: url(../fonts/CL.ttf);
}

@font-face {
   font-family: BR;
   src: url(../fonts/Bellerose.ttf);
}

@font-face {
   font-family: BS;
   src: url(../fonts/Blacksword.otf);
}


@font-face {
   font-family: Lumnia;
   src: url(../fonts/LumniaLight.ttf);
}

body {
	background-image: url(../images/mint.png);
}

/*Navbar contents*/
#brand {
	height: 100%;
	float: left;
}

#name {
	margin-left: 5px;
}

/*Profile contents*/

h1 {
	font-family: BR;
	margin: 5px;
	font-size: 45px;
	margin-bottom: 10px;
	padding: 0;
}

.sections {
	font-family: BR;
	clear: both;
	margin-bottom: 10px;
	text-align: center;
}

html {
	min-height: 100%;
	position: relative;
}

body {
	width: 100%;
	margin: 0 auto;
}

#profile {
	background-image: url(../images/marble.png);
	min-height: 100vh;
	border-right: 3px solid;
	overflow: hidden;
	position: absolute;
}

#profilePadding {
	padding-left: 0;
}

#profilePlace {
	position: relative
}

#nameProfile {
	font-family: BS;
	color: #94dfd0;
	position: absolute;
	font-size: 40px;
	z-index: 1000;
	width: 100%;
	text-align: center;
	left: 0;
	bottom: 0;
	-webkit-text-stroke: .5px black;
}

#links {
	display: block;
	margin: auto;
	text-align: center;
}

#links img{
	height: 40px;
}

#links img:hover{
	background-color: #94dfd0;
}

#bio {
	font-family: Lumnia;
	font-size: 16px;
	text-align: center;
	padding: 10px 15px 0 15px;
	color: black;
	font-weight: bold;
	margin-bottom: 0;
}

#profilePic {
	width: 100%;
	padding: 20px;
	display: block;
	margin: auto;
	position: relative;
	-webkit-filter: grayscale(100%);
}

#profilePic:hover {
	-webkit-filter: grayscale(0%);
}


/*Portfolio contents*/

#technicalSkills {
	padding-top: 10px;
	float: left;
	display: inline-block;
	clear: auto;
	text-align: center;
	width: 100%;
}

.skills {
	height: 55px;
	-webkit-filter: grayscale(100%);
	margin: 10px 10px 0 10px;
	text-align: center;
}

.skills:hover {
	-webkit-filter: grayscale(0%);
}

.row {
	height: 250px;
}

#portfolioContents {
	width: 100%;
	height: 100vh;
	overflow: auto;
}

article {
	width: 250px;
	float: left;
	margin: 10px;
}

.portfolio {
	width: 100%;
	overflow: hidden;
	border: 10px;
	border-style: solid;
	border-color: gray;
	box-shadow: 8px 8px 5px black;
	-webkit-transition: all 0.1s ease-in;
	-webkit-filter: grayscale(100%);
}

article:hover .portfolio {
	border: 15px;
	border-style: solid;
	border-color: white;
	-webkit-filter: grayscale(0%);
}

header {
	position: relative;
}

article .details {
	font-family: CL;
	width: 100%;
	padding: 10px;
	color: black;
	font-weight: bold;
	background-color: white;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	position: absolute;
	top: 200px;
	visibility: hidden;
	z-index: 1000;
	-webkit-transition: all 0.1s ease-in;
}

article:hover .details {
	top: 170px;
	visibility: visible;
}

.details h1 {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
}

.details span {
	font-size: 16px;
}

/*Modal Content*/

.modal-header {
	background-image: url(../images/marble.png);
}

.modal-title {
	font-family: CL;
	font-size: 25px;
	font-weight: bold;
}
.modal-body {
	font-family: Lumnia;
	font-size: 18px;
	padding: 0;
}

.modal-description {
	padding: 10px;
}

.modal-footer {
	font-family: CL;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	background-image: url(../images/marble.png);
}

.modal-image {
	width: 100%;
	margin: 0;
}

/*Different Screen Sizes*/

/*iPhones*/

@media (max-width:767px){

	#profile {
		min-height: 100%;
		border-bottom: 3px solid;
		border-right: 0px;
	}

	#profilePic {
		width: 200px;
	}

	article {
		width: 150px;
	}

	article .details {
		top: 100px;
		visibility: visible;
		padding: 5px;
	}

	article:hover .details{
		top: 100px;
	}

	article:hover .portfolio{
		border: 10px;
	}

	.portfolio {
		-webkit-filter: grayscale(0%);
		border-color: white;
	}

	#profilePadding{
		margin: 0;
		padding: 0;
	}

	#profile {
		position: relative;
	}

	#profilePic {
		-webkit-filter: grayscale(0%);
	}

	.details h1 {
		font-size: 15px;
		font-weight: bold;
		margin: 0;
	}

	.details span {
		font-size: 12px;
	}

	#portfolioContents {
		position: relative;
		clear: auto;
		height: 100%;
	}

	.row-fluid {
		margin: 0;
	}

}

@media only screen 
and (min-device-width : 375px)
and (max-device-width : 667px) {

	#profile {
		min-height: 100%;
		border-bottom: 3px solid;
		border-right: 0px;
	}

	#profilePic {
		width: 200px;
	}

	article {
		width: 150px;
	}

	article .details {
		top: 100px;
		visibility: visible;
		padding: 5px;
	}

	article:hover .details{
		top: 100px;
	}

	article:hover .portfolio{
		border: 10px;
	}

	.portfolio {
		-webkit-filter: grayscale(0%);
		border-color: white;
	}

	#profilePadding{
		margin: 0;
		padding: 0;
	}

	#profile {
		position: relative;
	}

	#profilePic {
		-webkit-filter: grayscale(0%);
	}

	.details h1 {
		font-size: 15px;
		font-weight: bold;
		margin: 0;
	}

	.details span {
		font-size: 12px;
	}

	#portfolioContents {
		position: relative;
		clear: auto;
		height: 100%;
	}

	.row-fluid {
		margin: 0;
	}

}